* {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.speechText {
  width: 80%;
  line-height: 150%;
  text-align: left;
}
button{
    margin-top:40px;
}
.btntext:hover{
background-color: black;
color:white;
}
.btntext {
    background-color: brown;
    cursor: pointer;
    color: aliceblue;
    margin:10px;
}
.btn_text:hover {
    cursor: pointer;

}
.text {
  margin-top: 50px;
  border: 3px solid black;
  max-width: fit-content;
  min-width: 301px;
  min-height:30px;
  background-color: antiquewhite;
  margin:30px;

}

.text h2{
    font-size: 30px;
}
@media (max-width:900px) {
  .text{
    margin-bottom:140px;
    min-width:200px;
  }
  
}